.suggestionPage {
  padding: 0px;
  max-width: 1000px;
  margin-top: 80px;
}
.doe {
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
}
.doe img {
}

.listaEmprestimo {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.emprestimosContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

/*pagina aprovar */

.sugiraDoe h1 {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sugiraDoe h1::before {
  content: "";
  display: block;
  width: 1.3rem;
  height: 1.2rem;
  background: linear-gradient(to top, #625bec, #a9a8ca);
  position: relative;
  bottom: -10px;
  left: 35px;
  transform: translateX(-50%);
  z-index: -1;
  clip-path: polygon(
    0% 0%,
    /* Canto superior esquerdo */ 100% 0%,
    /* Canto superior direito */ 100% 100%,
    /* Início das pernas */ 90% 100%,
    /* Perna direita */ 50% 70%,
    /* Centro da base */ 10% 100%,
    /* Perna esquerda */ 0% 100% /* Fim das pernas */
  );
}

.sugestoes h1 {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sugestoes h1::before {
  content: "";
  display: block;
  width: 1.3rem;
  height: 1.2rem;
  background: linear-gradient(to top, #625bec, #a9a8ca);
  position: relative;
  bottom: -10px;
  left: 35px;
  transform: translateX(-50%);
  z-index: -1;
  clip-path: polygon(
    0% 0%,
    /* Canto superior esquerdo */ 100% 0%,
    /* Canto superior direito */ 100% 100%,
    /* Início das pernas */ 90% 100%,
    /* Perna direita */ 50% 70%,
    /* Centro da base */ 10% 100%,
    /* Perna esquerda */ 0% 100% /* Fim das pernas */
  );
}

.suggestionForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.suggestionList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.suggestionCard {
  padding: 15px 150px;
  border: 1px solid #ddd;
  height: 300px;
  border-radius: 5px;
  background: #fafafa;
  margin-bottom: 10px;
}

.suggestionCard h3 {
  margin: 0;
  color: #333;
}

.suggestionCard p {
  margin: 5px 0;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userPhoto,
.defaultUserPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ddd;
}

.defaultUserPhoto {
  display: inline-block;
}

.userPhoto {
  object-fit: cover;
}

.gridDoe {
  width: 100vw;
  background-image: linear-gradient(
    to bottom,
    #4bc4fc,
    #4bc4fc,
    #ffffff,
    #ffffff
  );
  color: rgb(0, 0, 0);
  padding: 20px 220px;
  margin-top: 50px;
}

.gridDoe img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 112px;
  margin-bottom: 50px;
}
.pix {
  position: relative;
  bottom: -60px;
  left: -150px;
}
.qrcode {
  position: relative;
  bottom: -110px;
  left: -520px;
  color: #333;
}

.tabNavigation {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.tabNavigation button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
  border-radius: 10px;
  color: #070303;
}

.tabNavigation button:hover {
  background-color: #1855f1;
}

.activeTab {
  background-color: #007bff;
  color: white;
}

.suggestionForm {
  display: flex;
  flex-direction: column;
}

.suggestionForm input,
.suggestionForm button {
  margin-bottom: 10px;
}

/* Layouts responsivos */
@media (max-width: 1200px) {
  .gridDoe {
    padding: 20px 100px;
  }
  .suggestionCard {
    padding: 15px 100px;
    height: auto;
  }
  .pix {
    bottom: -40px;
    left: -100px;
  }
  .qrcode {
    bottom: -80px;
    left: -300px;
  }
}

@media (max-width: 800px) {
  .sugestoes h1::before {
    bottom: 10px;
  }
}

@media (max-width: 768px) {
  .suggestionPage {
    margin-top: 0;
  }
  .sugestoes h1::before {
    bottom: -10px;
  }
  .gridDoe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 20px 30px;
    overflow-x: hidden;
  }
  .suggestionCard {
    padding: 15px 20px;
    height: auto;
  }
  .doe {
    font-size: 1rem;
  }
  .titleDoe {
    font-size: 2rem;
  }
  .pix {
    left: 10px;
    margin-bottom: 20px;
  }

  .qrcode {
    margin-bottom: 20px;
    left: -140px;
  }
}
@media (max-width: 600px) {
  .sugestoes{
    font-size: 1rem;
  }
  .sugestoes h1::before {
    width: 1.5rem;
    bottom: 10px;
  }
}


@media (max-width: 480px) {
  .sugestoes h1{
    font-size: 1.1rem;
  }
  .sugestoes h1::before {
    width: 0.8rem;
    height: 0.7rem;
    bottom: -8px;
    left: 25px;
  }
  .sugiraDoe h1{
    font-size: 1.5rem;
  }
  .sugiraDoe h1::before{
    width: 1.2rem;
  }


  .gridDoe {
    grid-template-columns: 1fr;
    padding: 20px 20px;
  }
  .gridDoe {
    padding: 20px;
  }
  .suggestionCard {
    padding: 15px;
  }
  .titleDoe {
    font-size: 1.5rem;
  }
  .tabNavigation button {
    padding: 8px 15px;
  }
}
