.perdeu {
  display: inline-block;
  position: relative;
  left: 250px;
  top: -50px;
  color: #666;
  padding: 0.5rem 0;
  line-height: 1;
}

.perdeu::after {
  content: "";
  height: 2px;
  width: 100%;
  background: currentColor;
  display: block;
}

.cadastro {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.cadastro p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
}

.subtitle::after {
  content: "";
  display: block;
  background: #ddd;
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}

.subtitle2 {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
}

.subtitle2::after {
  content: "";
  display: block;
  background: #ddd;
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}
.h1Login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.button2 {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: linear-gradient(
    to left,
    rgba(0, 255, 98, 0.507),
    rgba(74, 255, 165, 0.856)
  );
  min-width: 8rem;
  padding: 0.3rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
  color: #443636;
}

.button2:hover,
.button2:focus {
  background: linear-gradient(
    to right,
    rgb(6, 190, 105),
    rgba(0, 255, 128, 0.596)
  );
}
.conta {
  margin: 20px 0px;
}

.tabNavigation {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}
.tabNavigationFixo {
  position: fixed;
  top: 10px;
  width: 80%;
}

.tabButton {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #666;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease;
}

.tabButton:hover {
  color: #000000;
}

.activeTab {
  color: #061ffd;
  border-color: #00aaff;
}

.capaPreview {
  background: #14b1ff;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 230px;
  bottom: 235px;
  left: 190px;
  position: fixed;
}
.capaPreview img {
  width: 10%;
  height: 5%;
}

.telefone {
  position: fixed;
  bottom: 367px;
  left: 10px;
  width: 235px;
}

.checkboxLabel {
  display: flex;
  position: fixed;
  align-items: center;
  left: 20px;
  bottom: 280px;
  padding: 10px 0rem;
}
.btCadastrar {
  position: relative;
  bottom: 170px;
  margin-left: 15%;
}
.btCadastrar button {
  width: 300px;
}
.btCad {
  position: fixed;
  bottom: 147px;
}
.facaLogin {
  position: fixed;
  bottom: 10px;
  margin-left: 15%;
}

.passwordContainer {
  position: relative;
  align-items: center;
  width: 100%;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
}

.eyeIcon:hover {
  color: #333;
}

.perdeu {
  display: inline-block;
  position: relative;
  left: 200px;
  top: -40px;
  color: #666;
  padding: 0.5rem 0;
  line-height: 1;
}

.perdeu::after {
  content: "";
  height: 2px;
  width: 100%;
  background: currentColor;
  display: block;
}

.cadastro {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.cadastro p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
}

.subtitle::after {
  content: "";
  display: block;
  background: #ddd;
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}
.h1Login {
  margin-bottom: 30px;
}

.button2 {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: linear-gradient(
    to left,
    rgba(0, 255, 98, 0.507),
    rgba(74, 255, 165, 0.856)
  );
  min-width: 8rem;
  padding: 0.3rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
  color: #443636;
}

.button2:hover,
.button2:focus {
  background: linear-gradient(
    to right,
    rgb(6, 190, 105),
    rgba(0, 255, 128, 0.596)
  );
}
.button3 {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: linear-gradient(
    to left,
    rgba(0, 255, 98, 0.507),
    rgba(74, 255, 165, 0.856)
  );
  min-width: 8rem;
  padding: 0.3rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
  color: #443636;
}

.button3:hover,
.button3:focus {
  background: linear-gradient(
    to right,
    rgb(6, 190, 105),
    rgba(0, 255, 128, 0.596)
  );
}
.conta {
  margin: 20px 0px;
}

.tabNavigation {
  display: flex;
  gap: 0.1rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}
.tabNavigationFixo {
  position: fixed;
  top: 10px;
  width: 80%;
}

.tabButton {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #666;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease;
}

.tabButton:hover {
  color: #000000;
}

.activeTab {
  color: #061ffd;
  border-color: #00aaff;
}

.capaPreview {
  background: #14b1ff;
  margin-bottom: 210px;
  padding: 5px;
  left: 30px;
  bottom: 50px;
  position: fixed;
  height: 170px;
  width: 170px;
}
.capaPreview img {
  width: 10%;
  height: 5%;
}

.formFixo {
  position: relative;
  top: -20px;
}
.ptBaixo {
  position: fixed;
  bottom: 10px;
}

.cep {
  position: relative;
  right: 50px;
  width: 50%;
}
.rua {
  position: relative;
  left: 190px;
  bottom: 67px;
  width: 70%;
}
.bairro {
  position: relative;
  right: 50px;
  bottom: 70px;
  width: 50%;
}
.cidade {
  position: relative;
  left: 190px;
  bottom: 200px;
  width: 70%;
}
.estado {
  position: relative;
  right: 50px;
  bottom: 210px;
  width: 50%;
}
.num {
  position: relative;
  left: 190px;
  bottom: 79px;
  width: 70%;
}
.dataNasc {
  position: relative;
  right: 50px;
  bottom: 210px;
  width: 50%;
}

.igrejaLocal {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  padding: 20px 0;
}
.igrejaLocal label {
  position: relative;
  left: 29px;
  bottom: 29px;
}
.igrejaLocal input {
  position: relative;
  width: 20px;
  height: 20px;
  top: 22px;
  left: -29px;
}
.sexo {
  display: flex;
  flex-direction: column;
}
.sexo label {
  margin: 2px;
}
.sexo select {
  padding: 10px;
  border-radius: 8px;
  border-color: #4c00ff;
}

.sexo select:focus {
  border-width: 2px;
  border-color: #001aff;
}

.foto {
  position: relative;
  left: 190px;
  bottom: 280px;
  width: 70%;
}

.checkboxLabel {
  display: flex;
  position: fixed;
  align-items: center;
  left: 20px;
  bottom: 280px;
  padding: 10px 0rem;
}
.btCadastrar {
  position: fixed;
  bottom: 170px;
  margin-left: 15%;
}
.btCadastrar button {
  width: 300px;
}
.facaLogin {
  position: fixed;
  bottom: 10px;
  margin-left: 15%;
}

.passwordContainer {
  position: relative;
  align-items: center;
  width: 100%;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
  z-index: 10;
}

.eyeIcon:hover {
  color: #333;
}

/* Ícone do marca-texto */
.markerIcon {
  position: absolute;
  top: -20%;
  left: -30px; /* Começa fora do campo */
  transform: translateY(-60%);
  transform: rotateX(-20%);
  z-index: 3;
  opacity: 0; /* Invisível no início */
  transition: left 0.9s ease-in, opacity 0s ease;
}

.markerIcon.animateMarker {
  left: calc(100% + 10px); /* Move para o lado direito */
  opacity: 1; /* Torna visível */
}

/* Animação do marca-texto */
.highlightEffect {
  position: absolute;
  top: 12px;
  left: 0;
  height: 50%;
  width: 0;
  background: linear-gradient(
      to right,
      #ffeb3b69 0%,
      #ffeb3b69 90%,
      transparent 90%
    ),
    repeating-linear-gradient(
      0.5deg,
      #ffeb3b69 0%,
      /* Cor amarela ao longo do fundo */ #ffeb3b69 85%,
      /* Cor amarela termina em 90% */ #0000002f 75%,
      /* Faixa preta começa em 95% */ transparent 100%
        /* Transição suave para transparente */
    );
  z-index: 1;
  transition: width 0.1s ease-in;
}

.highlightEffect.visible {
  transition: width 0.9s ease-in;
  width: 100%; /* Preenche todo o campo */
}

@media (max-width: 480px) {
  /* calcula escala e fixa a “tela” no tamanho XR */
  .viewport {
    --scale: min(100vw / 414, 100dvh / 896);
  }
  .screenMobile {
    width: 144px;
    height: 896px;
    transform: scale(var(--scale));
    padding: 5px;
    transform-origin: top left;
    overflow: hidden;
    position: relative;
  }

  .screenMobile .h1Login {
    font-size: 0.7rem;
    margin-top: 255px;
  }

  .screenMobile .subtitle {
    font-size: 1.3rem;
    margin-top: -50px;
    visibility: hidden;
  }

  .screenMobile .button2 {
    margin-top: 10px;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
  }

  .screenMobile .tabNavigationFixo {
    top: -25px;
    position: relative;
  }

  .screenMobile .tabNavigation {
    margin-bottom: 1.9rem;
    margin-top: 10px;
    gap: 0;
  }

  .screenMobile .tabButton {
    margin-top: -40px;
    top: 5px;
    position: relative;
    font-size: 0.55rem;
  }

  .screenMobile .formFixo input {
    height: 50%;
  }

  .screenMobile .senhasul {
    margin-top: -85px;
    font-size: 8px;
  }

  .screenMobile .senhash6 {
    visibility: hidden;
    margin: 10px 0;
    font-size: 0.6rem;
  }

  .screenMobile .sexo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    width: 100%;
  }
  .screenMobile .sexo label {
    background: #001aff;
    color: #fff;
    border-radius: 5px;
    padding: 2px 12px;
    position: absolute;
    bottom: 29px;
    left: 5px;
  }

  .screenMobile .btCad {
    position: fixed;
    left: 10px;
    right: 0;
    bottom: 50px;
  }

  .screenMobile .conta {
    position: absolute;
    font-size: 0.4rem;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .screenMobile .igrejaLocal {
    font-size: 0.8rem;
  }
  .screenMobile .igrejaLocal label {
    left: 16px;
    bottom: -25px;
    position: absolute;
  }
  .screenMobile .igrejaLocal input {
    position: absolute;
    top: 0px;
    left: -23px;
  }

  .screenMobile .cep {
    position: absolute;
    left: -5px;
    width: 69%;
  }
  .screenMobile .rua {
    position: absolute;
    left: 70px;
    bottom: -44px;
    width: 64%;
  }
  .screenMobile .bairro {
    position: absolute;
    left: -5px;
    top: 39px;
    width: 69%;
  }
  .screenMobile .cidade {
    position: absolute;
    left: 70px;
    top: 39px;
    width: 64%;
  }
  .screenMobile .estado {
    position: absolute;
    left: -5px;
    top: 79px;
    width: 69%;
  }
  .screenMobile .num {
    position: absolute;
    left: 70px;
    top: 79px;
    width: 64%;
  }

  .screenMobile * {
    max-width: 100%;
  }
  .screenMobile .telefone {
    position: absolute;
    top: 170px;
    width: 69%;
    left: -5px;
    width: 200%;
    max-width: 120%;
  }
  .screenMobile .dataNasc {
    position: absolute;
    left: -5px;
    top: 125px;
    width: 200%;
    max-width: 120%;
  }
  .screenMobile .foto {
    position: absolute;
    left: -5px;
    top: 214px;
    width: 200%;
    max-width: 120%;
  }
}
