.containerHome{
  background: #fdf8e2;
}


.section-carrosel-categorias .swiper-pagination {
  bottom: 10px;
  z-index: 10;
}

/* Estilos para o slide */
.section-carrosel-categorias .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 300px;
  height: 420px;
  margin-right: 0;
  border-radius: 80px;
}

.cardLivro {
  background: #fff;
  width: 280px; 
  height: 400px; 
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 10px 10px rgb(12, 8, 8);
  transition: transform 0.2s ease-in-out;
  margin: 0 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;

}



.categoriaContainer {
  margin: 20px 0;
}

.categoria {
  color: #000000;
  font-size: 25px;
  margin: 20px 0 10px 10px;
  text-transform: uppercase;
}


/* Remover desfoque - Certificar que nenhum estilo de desfoque seja aplicado */
.section-carrosel-categorias .swiper-slide {
  filter: none !important;
}

/* Adicionar estilo flex para o swiper-wrapper */
.section-carrosel-categorias .swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
}
.categoriaContainer {
  margin-top: 90px;
}


.categoria {
  font-size: 24px;
  margin-bottom: 1px;
}

.swiper-wrapper {
  display: flex;
  gap: 10px;
}

.cardLivro {
  width: 250px; 
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.281);
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #998888;
  padding: 0px;
}

.cardLivro img {
  width: 100%;
  height: 350px;
  margin: 0;
}

.cardLivro h2,
.cardLivro h4 {
  margin-top: 10px;
  font-size: 1.25rem;
  color: #000000;
}


.cardLivro h4 {
  margin-top: 10px;
  font-size: 1rem;
  color: #5e4c4c;
}


.estrela {
  font-size: 2rem;
  color: lightgray; /* Cor padrão para estrela inativa */
  position: relative;
  display: inline-block;
}

.estrelaAtiva {
  color: gold; /* Cor para estrelas completas */
}

.estrelaInativa {
  color: lightgray; /* Cor para estrelas vazias */
}

.estrelaParcial {
  color: lightgray; /* Cor base para a estrela */
}

.estrelaParcial::before {
  content: "★";
  color: gold; /* Cor para a metade da estrela */
  position: absolute;
  width: 50%; /* Controla o preenchimento parcial */
  overflow: hidden;
  top: 0;
  left: 0;
}
