/* GerenciarUsuarios.module.css */
.gerenciarUsuariosContainer {

  padding: 20px;
  background: #faefd6;
  border-radius: 0px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.usuarioLista {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.usuarioLista p{
  margin: 3px;
}


.usuarioItem {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #3700ff;
  margin-bottom: 10px;
  border-radius: 8px;
}


.acoes {
  margin-top: 10px;
}

.aceitarBtn {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.rejeitarBtn {
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 3px 0px;
  border-radius: 5px;
}
