/* Container do jogo */
.game-canvas {
  display: block;
  background-color: #f7f7f7;
  border: 2px solid black;
  margin: auto;
}

@media (max-width: 400px) {
  .game-canvas {
    width: 90%;
  }
}

