
.emprestimoCard {
  background: linear-gradient(to bottom, rgba(65, 109, 255, 0.171), rgba(151, 153, 252, 0.178));
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(126, 126, 125, 0.849);
  margin: 10px;
  padding: 20px;
  width: 600px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 2fr ;
  cursor: pointer;
  align-items: center;
}
.fotoLivro {
  grid-column: 1;
}

.grid2{
  margin-bottom: 10px;
}


.botoes{
  display: flex;
  gap: 10px;
  grid-column: 2;
  margin-top: 5px;
  
}


.aprovar{
  cursor: pointer;
  background: #2aa75a;
  background-image: linear-gradient(to left, rgba(0, 255, 128, 0.507), rgba(5, 127, 143, 0.856));
  padding: 15px 30px;
  border-radius: 15px;
  border: 1px solid #69c287;

}
.aprovar:hover{
  background-image: linear-gradient(to left, rgba(0, 173, 86, 0.521), rgba(1, 180, 204, 0.747));
  border: 2px solid #00ff95;
  border-color: rgba(4, 175, 104, 0.507);
  box-shadow: 0 0 2px 2px rgb(2, 247, 206);
}


.rejeitar{
  cursor: pointer;
  background: #a72a2a;
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0.507), rgba(131, 76, 76, 0.856));
  padding: 15px 30px;
  border-radius: 15px;
  border: 1px solid #c26969;

}
.rejeitar:hover{
  background-image: linear-gradient(to left, rgba(173, 0, 0, 0.521), rgba(204, 1, 1, 0.747));
  border: 2px solid #ff0000;
  border-color: rgba(175, 4, 4, 0.507);
  box-shadow: 0 0 2px 2px rgb(247, 2, 2);
}

.containerComu h1 {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerComu h1::after {
  content: "";
  display: block;
  width: 1.3rem; /* Largura do quadrado */
  height: 1.2rem; /* Altura do quadrado + pernas */
  background:linear-gradient(to top, #625bec, #a9a8ca);
  position: absolute;
  bottom: -2px; /* Ajusta a posição vertical */
  left: 931px;
  transform: translateX(-50%); /* Centraliza o elemento */
  z-index: -1;
  clip-path: polygon(
    0% 0%,     /* Canto superior esquerdo */
    100% 0%,   /* Canto superior direito */
    100% 100%,  /* Início das pernas */
    90% 100%,  /* Perna direita */
    50% 70%,   /* Centro da base */
    10% 100%,  /* Perna esquerda */
    0% 100%     /* Fim das pernas */
  );
}
